{% extends 'base.html' %}

{% block head %}
    <title>New Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'auth/css/default_form.css')}}">
{% endblock %}

{% block body %}
    <form method="post">
        <h1 class="text-center">New Password</h1>
        {% for category, message in get_flashed_messages(True) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.new_password(class = 'form-control', placeholder = 'New Password') }}
            {% if form.new_password.errors %}
                {% for error in form.new_password.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.confirm_new_password(class = 'form-control', placeholder = 'Confirm New Password') }}
            {% if form.confirm_new_password.errors %}
                {% for error in form.confirm_new_password.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class = 'btn btn-primary') }}
        <br>
        <br>
        <a href="{{ url_for('auth.login') }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login</a>
        <a href="{{ url_for('auth.reset_password') }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-4">Signup</a>
    </form>
{% endblock %}