{% extends 'base.html' %}

{% block title %}F2A{% endblock %}

{% block body %}
    <form action="" method="post" class="text-center">
        <h1 class="text-center">F2A</h1>
        {% for category, message in get_flashed_messages(True) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.totp(class = 'form-control', placeholder = '6 digit code') }}
            {% if form.totp.errors %}
                {% for error in form.totp.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class = 'btn btn-primary') }}
    </form>
{% endblock %}