{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1 class="text-center">Profile</h1>
    <div class="container text-start bg-dark text-white rounded p-4">
        <p><b>#:</b> {{ current_user.id }}</p>
        <p><b>Username:</b> {{ current_user.username }}</p>
        <p><b>Password:</b> {{ current_user.password }}</p>
        <p><b>Created:</b> {{ current_user.created_at }}</p>
        {% if not current_user.username == 'administrator' %}
            <p><a class="btn btn-danger" href="{{ url_for('main.delete_account', id = current_user.id) }}">Delete account</a></p>
        {% endif %}
    </div>
{% endblock %}