{% extends 'base.html' %}

{% block head %}
    <title>Two-Factor Authentication Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'auth/css/second_factor_auth.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'auth/css/2fa_form.css')}}">
{% endblock %}

{% block body %}
    <form action="{{ url_for('main.setup_2fa')}}" method="post" class="text-center">
        <h1>Two-Factor Authentication Setup</h1>
        <p>Scan the QR code below with your authenticator app:</p>
        <img src="{{ qrcode_url }}" alt="QR code">
        <br>
        <br>
        {% for category, message in get_flashed_messages(True) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        {{ form.csrf_token }}
        <div class="mb-3">
            <div class="d-flex mb-3">
                {{ form.totp_digit_1(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control', autofocus = True) }}
                {{ form.totp_digit_2(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_3(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_4(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_5(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_6(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
            </div>
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
    <script src="{{ url_for('static', filename = 'auth/js/second_factor_auth.js')}}"></script>
{% endblock %}