{% extends 'base.html' %}

{% block head %}
    <title>Two-Factor Authentication Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'auth/css/second_factor_auth.css')}}">
{% endblock %}

{% block body %}
    <form id="setup-2fa-form" action="{{ url_for('main.setup_2fa')}}" method="post" class="text-center">
        <h1>Two-Factor Authentication Setup</h1>
        <p>Scan the QR code below with your authenticator app:</p>
        <img src="{{ qrcode_url }}" alt="QR code">
        <br>
        <br>
        {% for category, message in get_flashed_messages(True) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        {{ form.csrf_token }}
        <div class="mb-3">
            <div class="d-flex mb-3">
                {{ form.totp_digit_1(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control', autofocus = True) }}
                {{ form.totp_digit_2(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_3(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_4(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_5(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
                {{ form.totp_digit_6(type = 'tel', maxlength = '1', pattern = '[0-9]', class = 'form-control') }}
            </div>
        </div>
        <button type="submit" class="g-recaptcha btn btn-primary mt-2 w-100" 
        data-sitekey="{{ recaptcha_site_key }}" 
        data-callback='onSubmit' 
        data-action='submit'>Setup</button>
    </form>
    <script src="{{ url_for('static', filename = 'auth/js/second_factor_auth.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
          document.getElementById("setup-2fa-form").submit();
        }
    </script>
{% endblock %}