{% extends 'base.html' %}

{% block head %}
    <title>Update Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'auth/css/default_form.css')}}">
{% endblock %}

{% block body %}
    <form action="{{ url_for('main.update_account') }}" method="post">
        <h1 class="text-center">Update Account</h1>
        {% for category, message in get_flashed_messages(True) %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.username(class = 'form-control', placeholder = 'Username') }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email(class = 'form-control', placeholder = 'Email') }}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger mt-1">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class = 'btn btn-primary') }}
    </form>
{% endblock %}